apispec==6.3.0
bcrypt==4.0.1
Flask==3.0.0
numpy==1.26.1
Pillow==10.1.0
pydantic[email]==2.4.2
pymongo==4.5.0
spacy==3.7.2
torch==2.1.0
transformers==4.38.2
Werkzeug==3.0.1
environs~=9.5.0
inflect~=7.0.0
textblob~=0.17.1
flask-cors~=4.0.0
apispec-webframeworks~=1.0.0
flask-login~=0.6.3
flask-pymongo~=2.3.0
flask-swagger~=0.2.14
flask-swagger-ui~=4.11.1